.env
node_modules
package-lock.json
npm-debug.log*
testem.js
Gruntfile.js
app/bower_components
/.*\.txt$/i
/*.md
/.*/
\
!./README.md
!.*/
!./src/assets/images/favicon.ico
coverage
combined.log
error.log
jest.config.js
tests

